
.data-vis-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1000px;
  margin: 0 auto;

  .data-vis-header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
    }

    .data-vis-header-1 {
      font-size: 2rem;
    }

    .data-vis-header-2 {
      font-size: 1.5rem;
    }
  }

  .data-vis-body {
    flex: 1;
    display: flex;
    min-height: 500px;

    .data-vis-chart {
      flex: 1;
      align-self: stretch;
      margin: 100px 0 100px 100px;
      min-width: 100px;

      svg {

        .data-vis-line {
          fill: none;
          stroke-linejoin: round;
          stroke-linecap: round;
          stroke-width: 1.5;

          &.data-vis-line-over {
            stroke-width: 2.5;
          }
        }

        .data-vis-axis-y {
          .domain {
            display: none;
          }
          .tick line {
            stroke: #767676;
          }

          .tick:not(.data-vis-axis-y-zero):not(:first-of-type) line {
            stroke-dasharray: 2, 2;
          }

          .data-vis-axis-y-zero line {
            stroke-width: 2;
          }
        }

        text {
          font-size: .75rem;
          font-family: ibm-plex-sans;
        }
      }
    }

    .data-vis-tools {
      align-self: center;

      margin: 100px 50px;
      display: flex;
      flex-direction: column;

      .bx--toggle__label {
        width: 10rem;
        margin: .5rem;
        font-size: .875rem;

        .bx--toggle__appearance {
          font-size: .875rem;
          margin-right: .5rem;
        }
      }

      .data-vis-container-place-over {
        font-weight: 600;
      }
    }
  }

  .data-vis-footer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    p {
      text-align: center;
      font-size: .75rem;
    }
  }
}
