
.data-vis-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  .data-vis-header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
    }

    .data-vis-header-1 {
      font-size: 1.5rem;
    }

    .data-vis-header-2 {
      font-size: .9rem;
    }
  }

  .data-vis-body {
    flex: 1;
    height: 100%;
    width: 100%;
    align-self: center;
    position: relative;

    .data-vis-chart {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      align-self: stretch;
      margin: 20px;
      // border: 1px solid #a6a6a6;

      svg {

        circle {
          fill: #6898cf;

          &:hover {
            fill: #5b7faf;
          }
        }

        text {
          font-family: ibm-plex-sans;
          text-anchor: middle;
          fill: white;
          pointer-events: none;
        }

        .data-vis-text-country {
          font-size: .15rem;
//          dominant-baseline: central;
        }

        .data-vis-text-population {
          font-size: .12rem;
  //        dominant-baseline: text-before-edge;
        }
      }
    }

    .data-vis-tooltip {
      opacity: 0;
      position: absolute;
      pointer-events: none;
      transition: opacity 300ms;

      &.data-vis-tooltip--hover {
        opacity: .9;
      }

      div {
        font-weight: 100;
        font-size: .75rem;
        background-color: black;
        color: white;
        text-align: left;
        padding: 10px;
        border: 0;
        border-radius: 2px;

        span {
          line-height: 1.25rem;
        }
      }
    }
  }

  .data-vis-footer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    p {
      text-align: center;
      font-size: .75rem;
    }
  }
}
