
$base-color: #01565E;
$base-color-darkest: #00292D;
$base-color-darker: #004248;
$base-color-lighter: #066871;
$base-color-lightest: #16818B;

$adj-1-color: #00780F;
$adj-1-color-darkest: #003907;
$adj-1-color-darker: #005C0B;
$adj-1-color-lighter: #069017;
$adj-1-color-lightest: #1AB12D;

$adj-2-color: #0A2368;
$adj-2-color-darkest: #010E32;
$adj-2-color-darker: #05194F;
$adj-2-color-lighter: #122F7D;
$adj-2-color-lightest: #254499;

$comp-1-color: #9A0800;
$comp-1-color-darkest: #4A0400;
$comp-1-color-darker: #760600;
$comp-1-color-lighter: #BA1108;
$comp-1-color-lightest: #E42B21;

$comp-2-color: #9A6900;
$comp-2-color-darkest: #4A3200;
$comp-2-color-darker: #765000;
$comp-2-color-lighter: #BA8108;
$comp-2-color-lightest: #E4A521;
